doctype html
html(lamg="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Student Management Portal
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel="stylesheet")
        script(src="//code.jquery.com/jquery-1.11.2.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
        script(src="/js/smp.js")  
    body
        nav(class="navbar navbar-default")
            div(class="container-fluid")
                div(class="navbar-header")
                    button(data-target="#navbar", data-toggle="collapse", class="navbar-toggle collapsed", type="button")
                        span Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(href="/", class="navbar-brand") SMP
                div(class="navbar-collapse collapse", id="navbar")
                    ul(class="nav navbar-nav navbar-right")
                        li
                            a(href="/students") Students
                        li
                            a(href="/departments") Departments
                    form(class="navbar-form navbar-right", action="/students", method="POST")
                        input(type="text", placeholder="Search...", class="form-control", name="search")
        div(class="container")
            block content
        div(class="modal fade", id="myModal")
            div(class="modal-dialog")
                div(class="modal-content", id="modal-content")