div(class="modal-header")
    button(type="button", class="close", data-dismiss="modal")
        span &times;
    h4(class="modal-title") Add Students
form(action="/students/add", method="post")
    div(class="modal-body")
            div(class="form-group")
                label Name
                input(name="name", type="text", class="form-control", placeholder="Name goes here")
            div(class="form-group")
                label Age
                input(name="age", type="text", class="form-control", placeholder="Age goes here")
            div(class="form-group")
                label Deparment
                input(name="department", type="text", class="form-control", placeholder="Department goes here")
            div(class="form-group")
                label Semester
                input(name="semester", type="text", class="form-control", placeholder="Enter semester")
            div(class="form-group")
                label Email
                input(name="email", type="text", class="form-control", placeholder="Enter email here")
            div(class="form-group")
                label Phone
                input(name="phone", type="text", class="form-control", placeholder="Enter Phone number here")
    div(class="modal-footer")
        button(type="button", class="btn btn-default", data-dismiss="modal") Close
        button(type="submit" class="btn btn-primary") Save changes